<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<startup> 
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
		</startup>
	<appSettings>
		<add key="WindowWidth" value="1920"/>
		<add key="WindowHeight" value="2160"/>
		<add key="BackgroundVideo" value="" /> <!-- Use if video background is desired.    ie: Video/background.avi -->
		<add key="BackgroundImage" value="Images/DonationStation_BG.jpg" /> <!-- Use if image background is desired.   ie: Images/DonationStation_BG.jpg -->
		<add key="BackgroundColor" value="" /> <!-- Use if a specific background color is desired  ie: #00ff00 -->
		<add key="BackgroundOpacity" value="1.0" /> <!-- Set the opacitity of the background. 0.0 is transparent. 1.0 is opaque -->

		<add key="MainTextTop" value="300" />	<!-- Where to set the top of the displayed counter text. -->
		<add key="FontFamily" value="Impact Regular" />	<!-- Font to use for the counter -->
		<add key="FontSize" value="250" />	<!-- Font size to use for the counter -->
		<add key="FontColor" value="#FFFFFF" /> <!-- Font color to use for the counter -->
		<add key="FontMonospaceWidth" value="150"/>	<!-- Set Width of each font character. Handles non-monospaced widthed fonts. -->

		<add key="UseTransitions" value="false" />	<!-- Use transisions. Not fully functionable. Please leave as false for now. -->
		<add key="IncrementBy" value ="1" />	<!-- The number to increment the count by. -->
		<add key="MillisecondsBetweenIncrement" value="250" />	<!-- The delay between increments in milliseconds. -->

		<!-- All must have a value if using graphics. If any are missing values, then it will not use graphics and default back to font only. -->
		<!-- Leave this blank for the current show. -->
		<add key="Graphic_0" value=""/>
		<add key="Graphic_1" value=""/>
		<add key="Graphic_2" value=""/>
		<add key="Graphic_3" value=""/>
		<add key="Graphic_4" value=""/>
		<add key="Graphic_5" value=""/>
		<add key="Graphic_6" value=""/>
		<add key="Graphic_7" value=""/>
		<add key="Graphic_8" value=""/>
		<add key="Graphic_9" value=""/>
		
		<add key="LeadingCharacter" value="$"/>  <!-- Character(s) to put infront of the counter -->	<!-- Don't use if graphic numbers are being used. -->
		<add key="StartingValue" value="1000"/>	<!-- Where to start the counter and build on from there. -->
		
		
		<!-- Donation Station Specific Info -->
		<add key="PerScanDonationMultiplier" value="1" /> <!-- Multiply every scan by this number. ie: value = 2, 10 scans = $20 donation -->
		<add key="MillisecondsBetweenScanCheck" value="1000" /> <!-- Frequency to check the database in milliseconds -->
		<add key="EngagementId" value="EVENT-MRKT" />
		<add key="DatabaseConnection" value="Initial Catalog=CloserLook;Data Source=furtherlook.bluewatertech.com;User ID=hermes;Password=MessengerGod"/>
		
	</appSettings>
</configuration>